<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    } 

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        font-size: 40pt;
    }

    p {
        font-size: 18pt;
    }

    #output {
        text-align: center;
        font-size: 24pt;
        margin-left: 15%
        margin-right: 15%
    }
</style>

<div>
    <h1>Message log</h1><br>
    <p>Here's a list of all the messages left on this site recently:</p>
    <p id="output">{{ output }}</p>
    <a href="/index">Click here to return to the main page.</a>
</div>